/* Animação de fade out */
.fade-out {
    animation: fade-out 1.0s ease-out forwards;
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Animação de fade in */
  .fade-in {
    animation: fade-in 1.0s ease-in forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
