/* Estilos para toda a página */
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  vertical-align: top;
  padding: 20px;
}

/* Estilos para o cabeçalho */
.header {
  text-align: center;
  background-color: #312f2f;
  padding: 20px;
  border: 2px solid #4D4D4D;
}

.header h1 {
  margin: 0;
}

.header img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header p {
  margin: 0;
  line-height: 1.5;
}

/* Estilos para as imagens pequenas */
.small-images img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  position: relative;
}

/* Estilos para a lista de texto */
.text-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.text-list li img {
  margin-right: 10px;
}

.text-list li span {
  line-height: 1.5;
  flex: 1;
}

/* Estilos para a imagem de separação */
.content img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
  border: 2px solid #4D4D4D;
}
.header table {
  margin: 0 auto;
}

.small-images {
  text-align: center;
}

.img-caption {
  text-align: center;
  margin-top: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
table {
  border-collapse: collapse;
}

td img[src$="barbedwire2.png"] {
  border: none;
}
