body {
  margin: 0;
  font-size: 16px;
  background-image: url("barbedwire2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFF;
  background-color: #4D4D4D;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  max-width: 200px;
  width: 100%;
  max-height: 100px;
}

a:hover {
  background-color: #999999;
}

.icon {
  width: 30px;
  margin-right: 10px;
}

.button-text {
  font-size: 16px;
}

.top-image {
  text-align: center;
}

.top-image img {
  width: 100%;
  max-width: 800px;
}

.content {
  opacity: 0;
  animation: fade-in 0.5s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 0.5s ease-in forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
